extends layout



block scripts
	link(rel='stylesheet', href='/stylesheets/chosen.css')
	script(src='javascripts/chosen.jquery.min.js')
	script(src='javascripts/add.js')

block content
	div#outer(class='container well min400')
		form(class='text-center form-horizontal', id='add')
			fieldset
				legend#legend_title(class='text-center') Add a Mission
				textarea#description(class='span5',name='description', id='description', placeholder='Description...', rows=5)
				input.span5.url#url(type='text', placeholder='Image url...')
				select.selections(class='span5', data-placeholder="Choose a category...", multiple, class="chzn-select", name='categories', id='categories', placeholder='Categories...')
					option(value="physical_exertion") Physical Exertion
					option(value="meditation") Meditation
					option(value="education") Education
					option(value="relaxation") Relaxation
					option(value="socialization") Socialization
					option(value="salivation") Salivation

				//- span(class='help-block text-center', style='margin-bottom: 10px; margin-top: 10px;') Please separate categories with a comma.
				label
				input(type='submit', class='text-center btn btn-success') Add
