extends layout

block content
	div#outer(class='container well min400', style='max-width: 800px; min-height: 400px;')
		form(class='text-center form-horizontal', id='add')
			fieldset
				legend(class='text-center', style='font-size: 40px;') Add a Mission
				textarea(class='span5',name='description', style="margin-right: auto; margin-left: auto; margin-bottom: 10px; display: block;", id='description', placeholder='Description...', rows=5)
				textarea(class='span5', name='categories', style="margin-right: auto; margin-left: auto; display: block", id='categories', placeholder='Categories...', rows=5)
				span(class='help-block text-center', style='margin-bottom: 10px;') Please separate categories with a comma.
				label
				input(type='submit', class='text-center btn btn-success') Add

block scripts
	script(src='javascripts/add.js')
