extends layout

block content
    script(src="/javascripts/break.js")
    div.container
        div.hero-unit.span6.offset3.pagination-centered#break()
          h3.header3() Your mission, should you choose to accept it:
          hr
          div #{activity.description}
          div
            img(class='img-rounded breakPic text-center', src="#{activity.image_url}", alt="It\'s Break Time!")
          div
            button#accept.btn.btn-success() Accept
            button#decline.btn.btn-danger() Decline
