extends layout

block content
    script(src="/javascripts/break.js")
    div.container
        div.hero-unit.span6.offset3.pagination-centered#break()
          h3.header3() Your mission, should you choose to accept it:
          br
          div #{activity.description}
          img.image(src="#{activity.image_url}")
          button#accept.btn.btn-success() Accept
          button#decline.btn.btn-danger() Decline
