extends layout

block scripts
    script(src="/javascripts/countdown.js")
    script(src="/javascripts/timer.js")
    script

        function breakEnded() {
            console.log("Break ended");
        }

        $(document).ready(function() {
            $('#counter').countdown({image: 'images/digits.png', startTime: "05:00", format: "mm:ss", stepTime: 60,
                                    timerEnd: breakEnded, digitWidth: 53, digitHeight: 77});
        });

block content
    div.hero-unit.span3.offset4#timer(style="padding-left: 10%; padding-right: 10%; min-width: 300px;")
        div#counter(style="padding-left:33px;")


