extends layout

block scripts
    script(src="/javascripts/countdown.js")
    script
        $(document).ready(function() {
            $('#counter').countdown({startTime: "01:12:32:55"});
        });

block content


