extends layout

block content
    script(src='/javascripts/login.js')
    div.hero-unit#login(style="margin-left: 35%; margin-right: 35%; min-width: 300px; text-align: center;")
      h1(style="margin-bottom: 10px;") #{title}
      br
      a(href='/auth/google') Sign In with Google
