extends layout

block scripts
    script(src='/javascripts/login.js')

block content
    div(style="text-align: center; width: 100%; position: absolute")
        h1#take_5(style="display: inline-block;")  Take5
    //- div.hero-unit.span3.offset5#login(style="text-align: center; max-width: 400px; min-width: 250px;")
    //-   h1(style="margin-bottom: 10px;") #{title}
    //-   br
    //-   a(href='/auth/google')
    //-     button.btn.btn-success.btn-large() Sign In with Google
