html {
  height: 100%;
}

body {
  padding: 50px;
  font-family: 'Economica', sans-serif;
    /* IE10 Consumer Preview */
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #555555 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 20px;
  min-height: 650px;
}

a {
  color: #00B7FF;
}

.wrapping {
  text-align: center;
  width: 100%;
  position: absolute
}

#outer {
  max-width: 800px;
  min-height: 300px;
}

.nav-item {
  display: inline-block;
  text-indent: .3em;
}

.navigation {
  display: inline-block;
  width: 100%;
  margin-left: -60px;
  text-align: center;
  position: fixed;
  bottom: 25px;
  color: #BBBBBB;
  font-size: 40px;
  cursor: hand;
  cursor: pointer;
}

#login {
    position: absolute;
}

#timer {
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 300px;
    text-align: center;
}
/*
* {
    border: 2px solid black;
}
*/
#break{
  width: 50%;
  max-width: 400px;
  text-align: center;
  display: block;
}

#accept {
  margin-top: 25px;
  display: inline-block;
  margin-right: 25px;
}

#decline {
  margin-top: 25px;
  display: inline-block
}

.selections {
  margin-right: auto;
  margin-left: auto;
  width: 475px;
  display: block;
  font-size: 40px;
  border-radius: 10px;
}

#url {
   margin-bottom: 10px;
}

#legend_title {
  font-size: 40px;
}

#description {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
}

#break {
  position: relative;
}
.container {
    min-width: 900px;
}

.min400 {
  position: fixed;
	min-width: 400px;
  max-width: 800px;
}

#take_5 {
  display: inline-block;
  position: fixed;
  color: #BBBBBB;
  font-size: 140px;
  cursor: hand;
  cursor: pointer;
  left: 43%;
}

#counter {
  padding-left:33px;
}

.image {
  border-radius: 20px;
  display: block;
  width: 400px;
}

.header3 {
  margin-bottom: 10px;
  text-align: center;
}
